Source: qualcomm-profiles
Maintainer: "Radxa Computer Co., Ltd" <dev@radxa.com>
Section: admin
Priority: standard
Standards-Version: 4.6.0
Build-Depends: debhelper (>=12~),
               devscripts,
               lintian,
               dh-exec,
               pandoc,

Package: task-qualcomm-gstreamer
Architecture: all
Priority: optional
Depends: gstreamer1.0-plugins-qcom-good,
         libgstreamer-plugins-qcom-base1.0-0,
         qcom-video-firmware,
         ${misc:Depends},
Description: Metapackages for common Qualcomm GStreamer vendor packages
 This package provides prebuilt packages from Qualcomm GStreamer that
 provides a more optimized user experience.

Package: task-qualcomm
Architecture: all
Priority: optional
Depends: firmware-qcom-hlosfw,
         task-qualcomm-gstreamer,
         radxa-system-config-qualcomm,
         ${misc:Depends},
Description: Metapackages for common Qualcomm vendor packages
 This package provides prebuilt packages from Qualcomm that
 provides a more optimized user experience.

Package: task-qcs6490
Architecture: all
Priority: optional
Depends: task-qualcomm,
         ${misc:Depends},
Description: Metapackages for common Qualcomm QCS6490 vendor packages
 This package provides prebuilt packages from Qualcomm QCS6490 that
 provides a more optimized user experience.
